#form{
    padding:2rem;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding-left: 8rem;
    display: block;
    height: auto;
    border-radius: 25px;
    gap: 20px;

}
#hi:hover
{
    opacity: 0.5;
    background-color: black;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}
#q
{
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
    width: auto;
    padding-top: 15%;
    border-radius: 15px;
}
#confession
{
    align-items: center;
    padding-left: 1rem;
}